#mainImg {
    border-radius: 22px 22px 0px 0px;
}    

#main {
    position: absolute;
    float: left;
    width: 50%;
    background-color: rgb(20, 90, 30);
    left: 50%;
    transform: translateX(-50%);
}

.lang:hover {
    background: red;
}

#main, #cheat1, #cheat2, #langs, #names {
    border: solid greenyellow;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#mainTest > div > div {
    margin-top: 2px;
    margin-bottom: 5px;
}

#mainInputs {
    text-align: middle;
    padding-left: 10%;
    padding-right: 10%;
}

#mainInputs > input {
    background-color: greenyellow;
    border: solid teal;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    padding-left: 3%;
    padding-right: 3%;
}

#mainImg {
    margin-bottom: 10px;
}

#cheat1, #cheat2, #langs, #names {
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(20, 90, 30);
    width: 15%;
}

#cheat1, #langs {
    float: left;
    margin-left: 4%;
}

#cheat2, #names {
    float: right;
    margin-right: 4%;
}