body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

#mainImg {
    border-radius: 22px 22px 0px 0px;
}    

#main {
    position: absolute;
    float: left;
    width: 50%;
    background-color: rgb(20, 90, 30);
    left: 50%;
    transform: translateX(-50%);
    border: solid greenyellow;
    border-radius: 25px;
    padding-bottom: 10px;
}

#cheat1, #cheat2 {
    background-color: red;
    width: 15%;
}

#cheat1 {
    float: left;
    margin-left: 8%;
}

#cheat2 {
    float: right;
    margin-right: 8%;
}